# node modules
node_modules/

# dfx temporary
.dfx/

# file generated with dfx deploy
dist/
src/declarations/

# DS_Store
.DS_Store

# idea
.idea

# generated when deploying to ic
canister_ids.json