.profile-container{
    width: 100%;
    height: 100%;
    display: -webkit-flex;
    -webkit-flex-direction: row;
    display: flex;
    flex-direction: row;
}

.profile-left-container{
    width: 40%;
    position: relative;
    height: 50%;
    top: 20%;
    display: -webkit-flex;
    -webkit-flex-direction: row;
    display: flex;
    flex-direction: row;
}

.profile-right-container{
    max-width: 50%;
    max-height: 50%;
    position: relative;
    margin: auto ;
}

.profile-left-left-sub-container{
    width: 50%;
    display: -webkit-flex;
    -webkit-flex-direction: column;
    display: flex;
    flex-direction: column;
    text-align: right;
    margin: 0 auto 0 0;
}

.profile-left-right-sub-container{
    max-width: 50%;
    margin: 0 0 0 auto;
    display: -webkit-flex;
    -webkit-flex-direction: column;
    display: flex;
    flex-direction: column;
    text-align: left;
}

.profile-text-header{
    max-width: 100%;
    margin: 10px auto;
    font-size: 30px;
    height: 40px;
}

.profile-text-p{
    max-width: 100%;
    font-size: 20px;
    height: 70px;
    margin-top: auto;
    margin-bottom: auto;
}

.profile-text-avatar{
    display: -webkit-flex;
    -webkit-flex-direction: row;
    display: flex;
    flex-direction: row;
}

.profile-dog-image{
    max-width: 100%;
}

.profile-avatar-container{
    margin: auto;
}

.profile-avatar{
    max-width: 32px;
    max-height: 32px;
    margin-left: auto;
    margin-right: auto;
}

