.no-pet-back{
    background-image: url("./static/no-pet.png");
    background-position: center;
    background-repeat: no-repeat;
    width: 1442px;
    height: 639px;
    background-size: 1442px 639px;
}


.no-pet-info{
    font-family: Courgette, serif;
    color: #58a9d4;
    text-align: center;
}