.right-content{
    text-align: left;
}


.div-background{
    background-image: url("./static/dogPortrait1.png");
    background-position: center;
    background-repeat: no-repeat;
    width: 489px;
    height: 448px;
    /*opacity: 100%;*/
}

.div-progress{
    position: relative;
    top: 10%;
    width: 600px;
    /*opacity: 1;*/
}


.dog-back{
    /*background-image: url("./static/dogBack.png");*/
    /*background-repeat: no-repeat;*/
    /*background-position: center;*/
    border-radius: 10% 10%;
    width: auto;
    height: auto;
    position: relative;
    top: auto;
    left: auto;
    /*opacity: 0.7;*/
}

.inline-no-opaque{
    /*opacity: 1;*/
}


