.column{
    position: relative;
    top: auto;
    height: inherit;
    width: inherit;
    align-items: center;
}

.partner{
    width: 100%;
    height: auto;
    text-align: left;
    /*border: 1px solid #2e84b2;*/
    border-radius: 30%;
    margin-top: auto;
    align-items: center;
}

.partner:hover{
    background-color: #ef3473;
}