.mall-pet-card{
    background-color: #e0c8d1;
    position: relative;
    height: 20vh;
    border-radius: 20%;
}


.div-pet-image{
    max-height: 80%;
    max-width: 50%;
}

.mall-overall-height{
    width: inherit;
    height: 60vh;
    margin-top: 10%;
    border-radius: 10%;
    background: #ede3e7;
    position: relative;
    /*background-image: url("./static/market-back.jpg");*/
    /*background-repeat: no-repeat;*/
    /*background-position: center;*/
    /*background-size: auto;*/
}



.colum-card-row{
    width: inherit;
    max-height: 40%;
}

