.right-content {
    text-align: left;
}


.div-background {
    background-image: url("./static/dogPortrait1.png");
    background-position: center;
    background-repeat: no-repeat;
    width: 489px;
    height: 448px;
}

.div-progress {
    position: relative;
    top: 10%;
    width: 600px;
}


.dog-back {
    border-radius: 10% 10%;
    width: inherit;
    height: auto;
    position: relative;
    top: auto;
    left: auto;
}


.div-button {
    position: relative;
    top: 10%;
    flex-direction: row;
    width: 70%;
    height: auto;
}

.div-subButton-left {
    width: auto;
    float: left;
}

.div-subButton-right {
    width: auto;
    float: right;
}


.fab-position {
    position: absolute;
    margin-left: 80%;
    margin-top: 60%;
    transform: translateX(-75%) translateY(-50%);
}