.icon-image{
    height: 40px;
}

.d-inline-block {
    display: inline-block!important;
}

.align-top {
    vertical-align: top!important;
}

.btn-outline-light {
    margin-top: 6px;
    font-size: 18px;
    border: 1px solid transparent;
}

.categorynav {
    color: #FFF !important;
    padding: 9px !important;
    border: 1px solid transparent;
    margin: 0px !important;
    font-size: 18px;
    border-radius: 15px;
    margin-bottom: 5px !important;
}

.categorynav:hover {
    color: #000 !important;
    background-color: #FFF;
}
.icon-image{
    height: 40px;
}

.d-inline-block {
    display: inline-block!important;
}

.align-top {
    vertical-align: top!important;
}

.btn-outline-light {
    margin-top: 6px;
    font-size: 18px;
    border: 1px solid transparent;
}

.categorynav {
    color: #FFF !important;
    padding: 9px !important;
    border: 1px solid transparent;
    margin: 0px !important;
    font-size: 18px;
    border-radius: 15px;
    margin-bottom: 5px !important;
}

.categorynav:hover {
    color: #000 !important;
    background-color: #FFF;
}