@import '~antd/dist/antd.css';

@font-face {
  font-family: 'Open Sans';
  src: url("../assets/fonts/OpenSans-Regular.ttf");
}

@font-face {
  font-family: 'Black Han Sans';
  src: url("../assets/fonts/BlackHanSans-Regular.ttf");
}

$primary-color: #EA580B;

html {
  --antd-wave-shadow-color: $primary-color;
}

body {
  background-color: #FFFDFA;
  background-image: url('../assets/home-bg.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
}

.container {
  background: #FFFDFA;

  margin: 0;
  padding: 0;
  max-width: 3000px;
}

.background {
  background: #FFFDFA;
  min-height: 100vh;
}

.header-wrapper {
  width: 100%;
  height: 128px;

  background: #FFFDFA;
  box-shadow: 0 4px 30px rgba(234, 88, 11, 0.08);
}

.flex {
  display: flex;
}

.row {
  display: flex;
  flex-direction: row;
}

.column {
  display: flex;
  flex-direction: column;
}

.central {
  display: flex;
  justify-content: center;
  align-items: center;
}